@font-face {
    font-family: 'Archivo' ;
    src: url(/fonts/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf) format('truetype');
}


@font-face {
    font-family: 'Inter';
    src: url(/fonts/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
}


:root{


    --text-dark: #101010;
    --text-light: #FFFFFF;
    --text-average: #757B8A;
    --primary-color: #EB6E46;
    --background-color: #FFF1ED;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
}


/* ---- */
.container{
    padding-left: clamp(24px, 5vw, 120px);
    padding-right: clamp(24px, 2.63vw, 120px);
    padding-top: 3.2vw;
    position: relative;
}


h2{
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    font-size: clamp(32px, calc(32px + (16 * (100vw - 375px)) / 1065), 48px);
    text-align: center;
}


/* HEADER INNER */


.header-inner{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: var(--background-color);
    padding-left: clamp(20px, 5vw, 120px);
    padding-right:clamp(20px, 5vw, 120px) ;
}


.logo-coca img{
    width: clamp(120px, 20.9vw, 140px);
    padding-top: clamp(12px, 2.4vw, 24px);
}


.menu-desktop{
    display: none;
}


#menu-smartphone img{
    display: block;
    width: 24px;
    height: 24px;
    padding: 0px;
}


/* HERO */


.hero{
    background-color: var(--background-color);  
    justify-content: space-between;
}


.hero h1{
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    line-height: 120%;
    font-size: clamp(36px, 7.3vw, 72px);
    padding-bottom: clamp(20px, 3vw, 32px);
    padding-top: clamp(39.43px, 9.3vw, 114px);
}


.hero p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-average);
    padding-bottom: clamp(24px, 3vw, 40px);
    width: 100%;
}


#button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 16px;
    padding: 16px 26.5px 16px 26.5px;
    border-radius: 100px;
    position: relative;
    margin-bottom: 16.6%;
}


#arrow{
    position: absolute;
    transform: translateY(-44px);
    left: 230px;
    width: 95px;
}


.img-header-smartphone img{
    margin: 0 auto ;
    max-width: 93%;
    display: block;
    padding-bottom: 12%;
}


.img-header{
    display: none;
}




/* SITES */


.logos-partnerships{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 6px 0px 6px;
    margin-top: clamp( 55px, calc(55px + (16 * (100vw - 375px)) / 1065), 72px);
    margin-bottom: clamp(148px, 25.15vw, 156px);
    gap: 30px 24px ;
}




.logos img{
    max-width: 100%;
}


.logos{
    width: 170px;
    height: 96px;
    text-align: center;
    align-content: center;
    border-radius: 16px;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);  
    margin:  0 auto;
    align-items: center;
}


/* CARDS FEATURES OPTIMIZING */


.features-optimizing h2{
    padding-bottom: 56px;
}


.card-features-optimizing img{
    width: 56px;
    margin: 20.5px 196px 56px 24px;
}




.card{
    width: 276px;
    height: 291px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: clamp(64px, 12.56vw, 116px);
}




.card h3{
    font-size: 18px;
    margin: 0px 48px 12px 24px;
    font-weight: 700;
    line-height: 120%;
}




.card p{
    font-size: 16px ;
    margin: 0px 24px 24px 24px ;
    line-height: 160%;
    color: var(--text-average);
    font-weight: 500;
}




.optimize-page-content{
    background-color: var(--background-color);
}


/* MAKE YOUR WEBSITE */


.make-your-website{
    background-color: var(--background-color);
}


.make-your-website h2{
    text-align: left;
    padding-bottom: 32px ;
}


.make-your-website p{
    color: var(--text-average);
    font-size: 16px;
    padding-bottom: clamp(40px, 1.5vw + 34.4px, 56px);
    font-weight: 500;
    line-height: 160%;
}




.numbers{
    display: flex;
    gap: 45px ;
}




.numbers h2{
    text-align: left;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
    padding-bottom: 0px;
    font-size: clamp(36px, 0.38vw + 34.6px, 40px);
    line-height: 120%;
}




.numbers p{
    color: var(--text-average);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: clamp(72px, 7.7vw + 43.1px, 154px);
    line-height: 160%;
}


.video-with-remote-team img{
    margin: 0 auto;
    max-width: 100%;
    display: block;
    padding-top: 32%;
    padding-bottom: 14% ;
}


#overlay-teamvideo{
    display: flex;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    height: 96px;
    align-items: center;


}


#overlay-text h5{
    font-weight: 700;
    font-size: calc(2rem - 8px);
}


#overlay-text p{
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
}


.team-icon{
    align-items: center;
}


#team-icons img{
    width: 100%;
    padding: 21px 24px 21px 20px  ;
}
/* FALTA FAZER */




#overlay-teamvideo{
    display: none;
}


/* OPTIMIZATION STRATEGIES */

.optimization-strategies{
    padding-bottom:  clamp(136px, calc(136px + (37 * (100vw - 375px) / 1065)), 173px);
}

.optimization-strategies h2{
    text-align: left;
    padding-top: clamp(61px, 8vw, 113px);
    padding-bottom: 0px;
}

.text-optimization-table a{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 100px ;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 32px 16px 32px;
    margin-top: clamp(54px, 4.5vw, 66px);
}


.text-optimization-table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15.95%;
}

.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.content{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    max-width: 493px;
}

.text-optimization-strategies::after{
    display: block;
    content: "";
    max-width: 100%;
    height: 1px;
    background-color: #D6D6D6;
    margin-top: 60px;
    margin-bottom: 32px;
    margin-left: 15.95%;
}

.optimization-strategies h2::after{
display: block;
content: "";
height: 1px;
background-color: #D6D6D6;
margin-top: 50px;
margin-bottom: 32px;
margin-left: 15.95%;
}

.text-optimization-table a{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 100px ;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 32px 16px 32px;
    margin-top: clamp(54px, 5vw, 66px);
}

/* DISCOVER OUR */


.discover-our h2{
    text-align: left;
    padding-top: clamp(61px, 8vw, 113px);
    padding-bottom: clamp(20px, 4vw, 96px);
}


.discover-our p{
    color: var(--text-average);
    line-height: 160%;
    font-weight: 500;
    font-size: 16px ;
}


.discover-our-img-smartphone{
    margin: 0 auto;
    max-width: 100%;
    display: block;
}


.person img {
    max-width: 100% ;
    margin: 0 auto;
}


.person{
    max-width: 100%;
    margin: 0 auto;
}


.discover-our-img-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;  
    max-width: 100%;
}


.person h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 8px;
    padding-top: 16px;
}


.person p{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: var(--text-average);
    padding-bottom: clamp(86px, 9.77vw + 49.38px, 190px);
}


.discover-our-title{
    padding-bottom: clamp(38px, 4vw, 56px);
}


.person img{
    max-width: 100% ;
    margin: 0 auto;
}


/* AWESOME FEATURES */


.awesome-features p{
    max-width: 280px;
}


#title-selected{
    padding-bottom: 0px;
    color: var(--text-dark);
    font-weight: 700;
    line-height: 140%;
    font-size: clamp(16px, 0.188vw + 15.3px, 18px);
    padding-bottom: 16px;
}


.selected-line p{
    color: var(--text-dark);
    font-weight: 500;
    line-height: 160%;
    font-size: 16px;
    padding-bottom: 40px;
}


.lines{
    display: flex;
    color: var(--text-average);
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 40px;
    font-size: clamp(16px, 0.188vw + 15.3px, 18px);
    justify-content: space-between;
}


.lines img{
    display: block;
    height: 24px;
    width: 24px;
}


/* CONTACT US */


.card-contact-us{
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 37px 30px 36px 44px;
    margin-bottom: clamp(88px, 1.22vw + 83.43px, 101px);
}


.card-contact-us h2{
    color: var(--text-light);
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    padding-bottom: 16px;
}


.card-contact-us p{
    font-size: 16px;
    line-height: 160%;
    color: var(--text-light);
    font-weight: 400;
    padding-bottom: 40px;
}


.card-contact-us a{
    padding: 16px 32px ;
    display: inline-block;
    background-color: var(--text-light);
    color: var(--primary-color);
    border-radius: 100px;
    text-decoration:  none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}


/* FOOTER */


.footer{
    padding-top: clamp(50px, 6vw, 80px);
    background-color: var(--background-color);
    padding-left: 32px ;
    padding-right: 30px;
}


.ready-started h2{
    text-align: left;
    padding: 0px;
    padding-bottom: clamp(16px, 0.75vw + 13.2px, 24px);
    line-height: 120%;
}


.ready-started p{
    color: var(--text-average);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: clamp(41px, calc(4.41vw + 24.47px), 88px);
}


.footer a{
    display: inline-block;
    padding: 16px 32px 16px 32px;
    background-color:  var(--primary-color);
    border-radius: 100px;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin-top: 1rem ;
    margin-bottom: 75px ;
}


input{
    text-decoration: none;
    border: 0;
    background-color: var(--background-color);
    font-size: 16px ;
    color: var(--text-average);
    font-weight: 500;
}


.buttom::after{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #CFC1BD;
    margin-top: 16px;
}


.social{
    margin: auto 0;
    text-align: center;
}


.social img{
    width: 20px;
    height: 20px;
}


.social-img{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 40px;
}


.privacy{
    display: flex;
    gap: 16px;
    justify-content: center;
    line-height: 150%;
    margin-bottom: 56px ;
}


.privacy h5{
    font-size: 14px;
    font-weight: 400;
}


#reserved{
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}


.footer-questions{
    display: none;
}




@media screen and (min-width: 0px) and (max-width: 768px){


    .logos-partnerships .logo-fedex{
        order: -2;
    }
   
    .logos-partnerships .logo-amazon{
        order: -2;
    }


    .desktop {
    display: none;
    }


    .img-contact-us{
        display: none;
    }


    .logo-oyo{
    display: none;
    }


    .logo-walmart{
    display: none;
    }


}




@media screen and (min-width: 768px) and (max-width: 1270px){






}




@media (min-width: 1270px){


    .container{
        padding: 0rem 7.5rem 0rem 7.5rem;
    }




    #menu-smartphone{
        display: none;
    }




    .header-inner{
        display: flex;
        justify-content: flex-start;
        gap: 65px ;
        padding: 0rem 0rem 0rem 7.5rem;
    }




    .menu-desktop{
        display: flex;
        gap: 32px;
        list-style: none;
        font-size: 1rem;
        color: var(--text-average);
        padding-top: clamp(12px, 2.4vw, 24px);
    }




    .menu-desktop a{
        text-decoration: none;
        color: var(--text-average);
        line-height: 150%;
        font-weight: 400;
    }




    .img-header{
        display: block;
        position: absolute;
        right: 37px;
        top: 0;
    }
 
    #About-menudesktop{
        font-weight: 700;
        color: var(--primary-color);
        line-height: 150%;
    }


    /* HERO */


    .hero-left{
        padding-right: 98px;
    }




    .img-header img{
        max-width: 600px;
        height: auto;
    }




    .hero p{
        max-width: 455px;
    }


    .img-header-smartphone img{
        display: none;
    }
   
    #arrow{
        left: 337px;
    }


    /* SITES */


    .logos-partnerships{
        max-width: 1260px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 48px;
        align-items: center;
        margin: 0 auto;
        margin-top: clamp(55px, calc(55px + (19 * (100vw - 375px)) / 1065), 75px);
        margin-bottom: clamp(148px, 25.15vw, 156px);
    }


    .logo-walmart{
        order: 3;
    }




    .logo-oyo {
        display: block;
    }




    .logo-oyo img{
        width: 5.25rem;
    }
   
    .logo-walmart{
        display: block;
    }




    .logo-walmart img{
        width: 7.5rem;




    }








    /* CARDS FEATURES OPTIMIZING */


     .features-optimizing h2{
        max-width: 50%;
        text-align: center;
        margin: 0 auto;
    }


    .card-features-optimizing{
        display: flex;
        padding: 0 clamp(16px, 8vw, 126px);
        width: 100%;
        gap: 60px;
    }




    /* MAKE YOUR WEBSITE */


     .make-your-website{
        display: flex;
    }


    .text-make-your-website{
        max-width: 62%;
        padding-top: 151px;
        padding-left: 209px ;
    }


    .video-with-remote-team img{
        max-width: 378px;
        padding: 80px 0px;
    }


    /* OPTIMIZATION STRATEGIES */

    .optimization-strategies{
        padding-bottom:  clamp(136px, calc(136px + (37 * (100vw - 375px) / 1065)), 173px);

    }


    .text-optimization-table{
        display: flex;
        justify-content: space-between;
        margin-left: 15.95%;
    }


    .title{
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }


    .content{
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        max-width: 493px;
    }


    .text-optimization-strategies::after{
        display: block;
        content: "";
        max-width: 100%;
        height: 1px;
        background-color: #D6D6D6;
        margin-top: 60px;
        margin-bottom: 32px;
        margin-left: 15.95%;
    }


    .optimization-strategies h2::after{
    display: block;
    content: "";
    height: 1px;
    background-color: #D6D6D6;
    margin-top: 50px;
    margin-bottom: 32px;
    margin-left: 15.95%;
    }


    .text-optimization-table a{
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--text-light);
        border-radius: 100px ;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        padding: 16px 32px 16px 32px;
        margin-top: clamp(54px, 5vw, 66px);
    }




    .content{
        flex-direction: column;
    }


    /* DISCOVER OUR */


    .discover-our-img-desktop{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        margin: 0 auto;
    }


    .discover-our-title{
        display: flex;
        text-align: left;
        align-items: center;
    }


    .discover-our-title h2{
        padding: 0px;
    }

    /* AWESOME FEATURES */

    .selected-line p{
        max-width: 805px;    
    }

    .awesome-features h2{
        max-width: 584px;
        margin: 0 auto;
        padding-bottom: 72px;
    }

    .lines{
    line-height: 120%;
    }

    .awesome-features{
        padding: 0px 223px 0px 223px;
    }

    .lines{
        align-items: center;
    }

    /* CONTACT US */

    .contact-us p{
        margin-bottom: auto;
        width: 75%;
    }


    .card-contact-us{
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 80px 0px 64px 80px;
    margin-bottom: clamp(88px, 1.22vw + 83.43px, 101px);  
    }

    .img-contact-us{
        position: relative;
    }

    #arrow2{
        position: absolute;
        left: 62%;
        transform: translateY(-450px);
    }

    #girl-contact-us{
        position: absolute;
        right: 1%;
        transform: translateY(-548px);
    }

    .texto{
        max-width: 58% ;
    }

    /* FOOTER */

    .footer{
        padding-top: clamp(50px, 6vw, 80px);
    }

    .footer p {
        max-width: 359px;
    }

    .button-input{
        display: flex;
        align-items: center;
    }

    .button-input a{
        margin: 0px;
    }

    .footer-question-text{
        display: flex;
        justify-content: space-between;
    }

    .questions{
        display: flex;
        flex-direction: column;
    }

    .question{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-questions h3{
        font-weight: 700;
        font-size: calc(2rem - 8px);
        line-height: 140%;
        padding-bottom: 46px ;
    }

    .footer-questions{
        display: block;
    }

    .footer-questions h5{
        color: var(--text-average);
        font-weight: 400;
        font-size: calc(1rem + 2px);
        line-height: 120%;
    }

    .footer-questions img{
        width: 24px ;
        height: 24px;
    }

    .question h5::after{
        display: block;
        content: "";
        width: 401px;
        height: 1px;
        background-color: #D6D6D6;
        margin-top: 24px;
        margin-bottom: 24px ;
    }

    #question{
        display: flex;
        justify-content: space-between;
    }

    .social::before{
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #D6D6D6;
        margin-top: 112px;
        margin-bottom: 40px ;
    }

    .social-img {
        margin: 0px;
    }

    .privacy{
        gap: 40px;
        margin-left: 72px;
    }

    .footer-baixo{
        display: flex;
        margin: 0px;
        justify-content: space-between;
    }

    .buttom::after{
         display: block;
        content: "";
        width: 353px;
        height: 1px;
        background-color: #CFC1BD;
        margin-top: 16px;
        margin-right: 16px;
    }


}

